<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">Category 1</div>
        <input type="text" placeholder="Text input" class="col-lg-4" ng-model="$ctrl.query">
        <div class="col-lg-6"></div>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Command 1</th>
                <th>Command 2</th>
                <th>Total</th>
                <th>First time</th>
            </tr>
            </thead>
            <tr ng-repeat="category in $ctrl.firstCategory | filter:$ctrl.query">
                <td>{{category.cmd1}}</td>
                <td>{{category.cmd2}}</td>
                <td>{{category.total}}</td>
                <td>{{category.ft}}</td>
            </tr>
        </table>

        <h1>Category 2</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Command 1</th>
                <th>Command 2</th>
                <th>Total</th>
                <th>First time</th>
            </tr>
            </thead>
            <tr ng-repeat="category in $ctrl.secondCategory | filter:$ctrl.query">
                <td>{{category.cmd1}}</td>
                <td>{{category.cmd2}}</td>
                <td>{{category.total}}</td>
                <td>{{category.ft}}</td>
            </tr>
        </table>
    </div>
</div>