div {
    margin: 5px;
    padding: 5px;
}


.table {
    display: table;

    padding: 0;
    border-spacing: 0px;
}

.row {

    display:table-row;
}

.cell {
    background: white;
    border-color: black;
    display:table-cell;
    width: 150px;
}