

<!--<h1>{{$ctrl.phone.name}}</h1>-->

<!--<p>{{$ctrl.phone.description}}</p>-->

<!--<ul class="phone-thumbs">-->
    <!--<li ng-repeat="img in $ctrl.phone.images">-->
        <!--<img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />-->
    <!--</li>-->
<!--</ul>-->

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Результаты парсинга</title>
<link rel="stylesheet" href="app.css">
</head>
<body>
<h1>Первая категория</h1>

<div class="table">
    <div class="row">
        <div class="cell">Команда 1</div>
        <div class="cell">Команда 2</div>
        <div class="cell">Общ. анализ</div>
        <div class="cell">Анализ 1 тайма</div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
</div>

<h1>Вторая категория</h1>

<div class="table">
    <div class="row">
        <div class="cell">Команда 1</div>
        <div class="cell">Команда 2</div>
        <div class="cell">Общ. анализ</div>
        <div class="cell">Анализ 1 тайма</div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
</div>

</body>
</html>
